.types-of-bricks{
    font-size: 60px;
    text-align: center;
    font-weight: 50px;
    color: rgb(66, 63, 66);
    padding-bottom: 30px;
}

.card-title{
    font-family: 'Bungee Inline';
    text-align: center;
}
